/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}


.titulo{
letter-spacing: 1em;
background-color: rgb(247, 70, 90);
}

.col-40 h1 {
  font-size: 1.1rem;
  color: white;
  background: #E84A5F;
  letter-spacing: 0.5rem;
  padding: 0.3rem 0 0.3rem 0.7rem;
}

.titulos-secciones {
  font-size: 1.2rem;
  color: #E84A5F;
  letter-spacing: 0.1rem;
  margin-top: 10%;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: rgb(249, 255, 144);
  padding: 1.2rem;
  color: #000;
}


.texto-centrado img {
  height: 190px;
  width: 190px;
}

.col-60 {
  background: #E84A5F;

}

.piezasJuego img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  border:0.3px solid black;

}


.piezasJuego{
  float: left;
  height: 100%;
  width: 100%;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego {
  background-color: red;
  border: 1px solid green;
  animation: fadein 2s;
  margin: auto;
  width: 641px;
  height: 641px;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
  width: 33.3%;
  height: 33.3%;
  float: left;

}
#footer{
  display: inline-block;
  background: #323643;
  height: 3rem;
  width: 100%;
  text-align: center;
}

#footer p {
  font-size: 1rem;
  color: white;
}

.opacar {
  background: white;
  opacity: 0.3;
}

#cartelGanador {
  display: none;
}

.cartel-ganador {
  text-align: center;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15%;
}

.cartel-ganador h3 {
  width: 360px;
  margin-left:auto;
  margin-right:auto;
  background: #E84A5F;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: white;
  padding: 4rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.cartel-ganador button {
  background: transparent;
  border: 2px solid #E84A5F;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 2%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
